@font-face {
  font-family: "Overlock";
  src: local("Overlock"), url("../fonts/Overlock-Regular.ttf");
}

@font-face {
  font-family: "Overlock";
  src: local("Overlock Bold"), url("../fonts/Overlock-Bold.ttf");
  font-weight: bold;
}

:root {
  --clr-accent-400: hsl(39 100% 41%);
  --Clr-accent-300: hsl(39 94% 57%);
  --clr-neutral-800: hsl(0 0% 20%);
  --Clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-900: hsl(0 0% 10%);

  --fs-400: 1.125rem;
  --fs-500: 1.3125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;

  --ff-base: system-ui, sans-serif;
  --ff-accent: Overlock, serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--clr-black);
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  line-height: 1.6;
  margin: 0;
}

h1,
h2 {
  color: var(--clr-accent-400);
  font-family: var(--ff-accent);
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-800);
}

h1 span {
  display: block;
  font-size: 0.75em;
  font-weight: lighter;
  color: black;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
}

a {
  color: var(--clr-accent-400);
}

a:hover,
a:focus-visible {
  color: var(--clr-black);
}

img {
  max-inline-size: 100%;
  display: block;
}

button {
  font: inherit;
}

.button {
  background-color: var(--Clr-accent-300);
  border: 0;
  padding: 0.5em 1.5em;
}

.button:hover,
.button:focus-visible {
  color: var(--Clr-neutral-100);
  background: var(--clr-neutral-800);
}

.lede {
  font-size: var(--fs-500);
}

.page-header {
  background-color: var(--clr-neutral-900);
  padding-block: 21px;
}

.page-header-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: space-between;
}

.primary-nav ul {
  display: flex;
  gap: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.primary-nav a {
  font-weight: 700;
  color: var(--Clr-neutral-100);
  text-decoration: none;
}

.primary-nav a:hover,
.primary-nav a:focus-visible {
  color: var(--Clr-accent-300);
}

.hero {
  background-color: var(--clr-accent-400);
  background-image: url(images/chess-bg.jpg);
  background-size: cover;
  padding-block: 100px;
  padding-inline: 1rem;
  text-align: center;
}

.hero-content {
  background-color: hsl(0 0% 100% / 0.7);
  padding: 50px;
}

.hero-content > :first-child {
  margin-block-start: 0;
}

.hero-content > :last-child {
  margin: block end 0;
}

.page-footer {
  background-color: var(--clr-neutral-800);
  background-image: linear-gradient(var(--clr-neutral-800), black);
  padding: 100px;
  color: var(--Clr-neutral-100);
  text-align: center;
}

.wrapper {
  padding-inline: 1rem;
  max-inline-size: 900px;
  margin-inline: auto;
}

.three-columns {
  display: grid;
  gap: 21px;

  @media (width > 720px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
